@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-secondary: #3b82f6;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
}

body {
  background-color: var(--color-dark-bg);
  color: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
